body {
  background-color: #faf7f2;
}

#root {
  padding: 30px;
  background-color: #ffffff;
}

.card-body-stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.card-body-star {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
